:root {
    --card-width: 100px;
    --icon-size: 1.25rem;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

*:not(i) {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.side-to-side {
    overflow: hidden;
    top:2px;
}

.side-to-side::after {
    content:"";
    width:100%;
    border-top: 2px solid black;
    position:absolute;
    bottom: 0;
    left: -100%;
    transition: transform .3s linear;
}

.side-to-side:hover::after {
    transform: translate(100%, 0);
}

.top-to-bottom::after {
    content:"";
    width:100%;
    border-top: 2px solid black;
    position:absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all .3s linear;
}

.top-to-bottom:hover::after {
    opacity: 1;
    transform: translateY(4px);
}



nav * {
    display: inline-block;
}

nav, ul, ol, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav, footer {
    padding: 20px;
    background: gray;
}

section {
    display: flex;
    max-height: 100vh;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10vw;
    gap:15px;  
}

#about-me {
    background: lightgray;
}

#about-me img {
    border-radius: 50%;
    width:100%;
    object-fit: contain;
    box-shadow: 5px 5px 10px gray;
}

#lists li {
    width: var(--card-width);
    height: calc(1.5 * var(--card-width));
    position: relative;
    text-align: center;
    letter-spacing: -1px;
    background-color: lightgray;
    box-shadow: 5px 5px 10px gray;
} 

#lists li img {
    object-fit: cover;
    width:100%;
    height:calc(100% - 15px - 1rem);
}

#lists li span {
    position: absolute;
    bottom: 5px;
    width:100%;
    left:0;
    font-weight: bold;
}

#top-5 li {
    position:relative;
}

#top-5 li:nth-child(1)::before, #top-5 li:nth-child(2)::before, #top-5 li:nth-child(3)::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 10px;
    background: gray;
    color: black;
}

#top-5 li:nth-child(1)::before {
    content: "1";
}

#top-5 li:nth-child(2)::before {
    content: "2";
}

#top-5 li:nth-child(3)::before {
    content: "3";
}

.social li {
    background: black;
    color: white;
    border-radius: 50%;
    padding: var(--icon-size);
}

@media screen and (max-width:1439px) {
    footer, section {
        flex-flow: column wrap;
    }
    #lists ul, #lists ol {
        display: grid;
        grid-template-columns: auto auto auto;
        align-content: center;
    } 
    .display-lg {
        display: none;
    }
}

@media screen and (min-width:1440px) {
    #lists > *:first-child {
        direction: rtl;
    }
    .display-md {
        display: none;
    } 
}
